@font-face {
  font-family: 'Noto Sans';
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
}

.accept_logo{
  width: 56px;
  height: 56px;
}

.modal_information_order{
  display: flex;
  flex-direction: column;
  width: 356px;
}

.title{
  font-size: 12px;
  color: #637083;
}

.delivery_address{
  margin-top: 16px;
  height: 42px;
}

.order_quantity{
  margin-top: 16px;
  height: 42px;
}

.order_list_pizza{
  margin-top: 2px;
}

.delivery_info{
  margin-top: 2px;
}

.quantity_info{
  margin-top: 2px;
}

.sms_duplicate{
  font-size: 14px;
  color: #637083;
  margin-top: 16px;
}

.to_mainPage{
  cursor: pointer;
  font-weight: 500;
  margin-top: 24px;
}